{% extends 'base.html' %}
{% block content %}
    <div class="border__buttons ">
        <div class="content">
            <div class="h4"><h1>Страница с кнопками</h1></div>
            <div class="buttons">
                {% for btn in buttons %}
                    <a href="{{ btn.get_absolute_url }}">{{ btn.botton }}</a>
                {% endfor %}
{#                <a href="">Кнопка 2</a><a href="">Кнопка 3</a><a href="">Кнопка 4</a><a href="">Кнопка#}
{#                5</a><a href="">Кнопка 6</a><a#}
{#                    href="">Кнопка 7</a><a href="">Кнопка 8</a><a href="">Кнопка 9</a><a href="">Кнопка 10</a><a#}
{#                    href="">Кнопка 11</a><a#}
{#                    href="">Кнопка 12</a><a href="">Кнопка 13</a><a href="">Кнопка 14</a><a href="">Кнопка 15</a><a#}
{#                    href="">Кнопка 16</a><a#}
{#                    href="">Кнопка 17</a><a href="">Кнопка 18</a><a href="">Кнопка 19</a><a href="">Кнопка 20</a>#}
            </div>
        </div>
    </div>
{% endblock %}