{% extends 'base.html' %}
{% block content %}
    <div class="editprofile__form">
        <form class="edit" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {#            <p>{{ form.name }}</p>#}
            {#            <p>{{ form.phone }}</p>#}
            {#            <p>{{ form.address }}</p>#}
            {#            <p>{{ form.about }}</p>#}
            {#            <p>{{ form.photo }}</p>#}
            <input id="button" type="submit" value="Редактировать">
        </form>
    </div>
{% endblock %}