{% extends 'base.html' %}
{% block content %}
    <div class="news2">
        <form method="POST" id="signup" action="#">
            <h1>Форма СМИ №2</h1>
            {% csrf_token %}
            <p>
            <td>{{ form.positive }}
                <button type="button" onclick="incrementValue()" class="pl">Плюс</button>
            </td>
            <p>
            <td>{{ form.negative }}
                <button type="button" onclick="incrementValue1()" class="ml">Минус</button>
            </td>
            <p>
            <td>{{ form.neutral }}
                <button type="button" onclick="incrementValue2()" class="nl">Нейтрально</button>
            </td>
            <br>
            <button type="submit" value="Сохранить">Отправить</button>
        </form>
    </div>
{% endblock %}
