{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <div class="content.news2">
            <div class="h4">
                <p>Сборка статей</p>
            </div>
            <div class="content_result">
                {% for i in news2 %}
                    <ul class="ul_news">
                        <li class="green">Позитивных: {{ i.positive }}</li>
                        <li class="red">Негативных: {{ i.negative }}</li>
                        <li class="black">Нейтральных: {{ i.neutral }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="content_news1">
            {% for new in news %}
                <div class="news">
                    <p>{{ new.types }}<span>{{ new.data }}</span></p>
                    <p>{{ new.urls }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
