{% extends 'base.html' %}
{% block content %}
    <div>
        <article>
            <p>Позитивных: {{ positive }}</p>
            <p>Негативных: {{ negative }}</p>
            <p>Нейтральных: {{ neutral }}</p>
        </article>
    </div>

    <div class="news">
        {% for new in news %}
            <div class="one">
                <p>{{ new.types }}</p>
                <p>{{ new.data }}</p>
                <p>{{ new.urls }}</p>
            </div>
            </div>
        {% endfor %}
{% endblock %}