{% extends 'base.html' %}
{% block content %}
    <div>
        <article>
            {% for i in news2 %}
                <p>Позитивных: {{ i.positive }}</p>
                <p>Негативных: {{ i.negative }}</p>
                <p>Нейтарльных: {{ i.neutral }}</p>
            {% endfor %}
        </article>
    </div>

    <div class="news">
        {% for new in news %}
            <div class="one">
                <p>{{ new.types }}</p>
                <p>{{ new.data }}</p>
                <p>{{ new.urls }}</p>
            </div>
            </div>
        {% endfor %}
{% endblock %}