{% extends 'base.html' %}
{% block content %}
    <div class="border__buttons">
        <div class="content">
            <div class="num__h1"><h1>Страница с числами</h1>
                <input id="num_input" type="text" placeholder="Это число показывает..."></div>
            <div class="numbers">
                <table class="numbers__table">
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{% endblock %}