{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>Profile</title>
</head>
<body>
<section>
    <div class="section__one">
        {% if profile.photo %}
            <img src="{{ MEDIA_URL }}{{ profile.photo.url }}" alt="">
        {% endif %}
        <ul>
            <li><p>Имя: {{ profile.name }}</p></li>
            <li><p>Телефон: {{ profile.phone }}</p></li>
            <li><p>Адрес: {{ profile.address }}</p></li>
            <li><p>О себе: {{ profile.about }}</p></li>
        </ul>
    </div>
    <div class="section__two">
        <div class="bottom_menu">
            <a class="menu__item" id="w" href="{% url 'edit' pk=profile.id %}">Редактировать</a>
            <a class="menu__item" href="#">Добавить бота</a>
            <a class="menu__item" id="w" href="{% url 'addmistake' %}">Добавить ошибку</a>
            <a class="menu__item" href="#">Последние ошибки</a>
            <a class="menu__item" id="w" href="#">Кнопки</a>
            <a class="menu__item" href="#">Числа</a>
        </div>
        <table class="table_one">
                <tr>
                {% for medals in medal %}
                    {% if medals.picture %}
                    <td><a href="#"><img src="{{ MEDIA_URL }}{{ medals.picture.url }}" alt=""></a></td>
                    {% endif %}
                 {% endfor %}
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </table>
        <table class="table_two">
            <tr>
                <td id="q">Тип бота 1</td>
                <td id="q">Тип бота 2</td>
                <td id="q">Тип бота 3</td>
                <td id="q">Тип бота 4</td>
            </tr>
            <tr>
                <td><a href="#"><img src="../../static/images/bot1.png" alt=""></a></td>
                <td><a href="#"><img src="../../static/images/bot2.png" alt=""></a></td>
                <td><a href="#"><img src="../../static/images/bot1.png" alt=""></a></td>
                <td><a href="#"><img src="../../static/images/bot2.png" alt=""></a></td>
            </tr>
        </table>
    </div>
</section>
<footer>
    <div class="container">
        <div class="foo">
            <a href="/">Главная</a>
        </div>
    </div>
</footer>
</body>
</html>
