@charset "utf-8";
@font-face {
    font-family: 'Geometria';
    src: url('fonts/Geometria.eot');
    src: url('fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('fonts/Geometria.woff') format('woff'),
    url('fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Geometria, serif;
    font-size: 1vw;
    color: black;
    background: #101010;
}

.foo a {
    color: #424242;
}

footer {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

section {
    padding: 3.5vw;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

.section__one {
    border-radius: 10px;
    width: 80%;
    background: #1A1A1A;
    color: white;
}

.section__one img {
    width: 25vw;
}

.section__two {
    margin-left: 14vw;
    display: flex;
    flex-direction: column;
}

.bottom_menu {
    display: flex;
    flex-wrap: wrap;

}

.bottom_menu a {
    text-decoration: none;
    width: 17.5vw;
    border-radius: 30px;
    padding: 1vw;
    outline: none;
    color: white;
    background-color: #1A1A1A;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5vw;
    text-align: center;

}

.table_one {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: max-content;
}

.medal {
    width: 20%;
}
.medal_2 {
    width: 25%;
}
.table_one td {
    text-align: center;
    background: #101010;
    border: 1px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 5px;
    width: 20%;
    height: 5vw;
}

.table_two {
    width: 100%;
    padding-top: 2vw;
}

.table_two td {
    text-align: center;
    color: white;
    background: #101010;
    border: 1px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 5px;
    width: 25%;
    height: 5vw;
}

#q {
    height: 2vw;
    text-align: center;
}

#w {
    margin-right: 3vw;
}