@charset "utf-8";

/*------fonts-----*/
@font-face {
    font-family: 'Geometria';
    src: url('fonts/Geometria.eot');
    src: url('fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('fonts/Geometria.woff') format('woff'),
    url('fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*******/

html, body {
    margin: 0; /*внешний отступ по умолчанию*/
    padding: 0; /*внутренний отступ по умолчанию*/
}

body {
    width: 100%; /*ширина боди на весь экран*/
    font-family: Geometria, serif;
    font-size: 1vw;
    color: black;
}

img {
    max-width: 100%;
}

.content {
    width: 80%;
    margin: 0 auto;
}

header {
    margin: 2vw 0;
    background: #FFFFFF;
    border: 0.10vw solid #dbd7d2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    height: 7.1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 0;
}

.header__logo {
    width: 3vw;
    height: 42px;
    display: flex;
    align-items: center;
    text-align: left;
}

.p {
    width: 83%;
    margin-left: 4%;
    font-size: 1vw;
}

.header__sign {
    width: 12.3vw;
    display: flex;
    justify-content: space-between;
}

a {
    color: #000000;
    text-decoration: none;
}

section {
    /*height: 80vh;*/
    /*border: 0.10vw solid #dbd7d2;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

#border {
    height: 80vh;
    border: 0.10vw solid #dbd7d2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section__menu {
    margin: 1vw;
    height: 50vh;
    width: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__menu a {
    width: 17.5vw;
    border-radius: 30px;
    padding: 1vw;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5vw;
    text-align: center;
}

.section__menu a:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /*margin: 0.5vw;*/
}


.wrap-content {
    margin-top: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    margin: 2vw 0;
    background: #FFFFFF;
    border: 0.10vw solid #dbd7d2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.footer__menu {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 0;
}

.footer__itc {
    margin-right: 1.5vw;
    padding: 0.9vw 1vw;
    width: 48%;
    /*border: 0.10vw solid #dbd7d2;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.footer__itc p {
    margin-left: 20%;
}


.footer__social {
    padding: 0.9vw 1vw;
    width: 48%;
    /*border: 0.10vw solid #dbd7d2;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.footer__social img {
    float: right;
    padding: 0.9vw;

}

.images {
    margin-right: 10%;
}

.content_result {
    position: relative;
    height: 50px;
    background: #FFFFFF;
    border: 0.10vw solid #dbd7d2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content_news p {
    margin: 1vw;
    text-align: left;
}

.h4 {
    padding-top: 4.5vw;
    padding-bottom: 1.5vw;
}

.h2 p {
    font-family: Geometria, serif;
    font-size: 16px;
    line-height: normal;
    color: #000000;
}

.ul_news {
    position: absolute;
    top: 50%;
    height: 1.5vw;
    padding: 0;
    display: block;
    list-style: none;
    margin-top: -0.625em;

}

.ul_news li {
    float: left;
    margin-right: 6vw;
}

.ul_news li:nth-child(1) {
    margin-left: 2vw;
    color: #17CA54;
}

.ul_news li:nth-child(2) {
    color: #F34343;
}

.content_news1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news {
    height: 15vh;
    margin-top: 2vw;
    width: 49%;
    background-image: url('images/green.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    /*background-size: 10% 10%;*/
    border: 0.10vw solid #dbd7d2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.green_img {
    background-image: url('images/green.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}


.news p {
    margin: 1vw 2vw;
}

.news p > span {
    float: right;
}

.news img {
    float: right;
}

.signup_form h1 {
    font-weight: 300;
    font-family: Geometria, serif;
    font-size: 16px;
    line-height: normal;
    text-align: center;

    color: #000000;
}


.signup_form {
    padding-top: 2vw;
    margin: 1vw auto 0 auto;
    width: 50vw;
    height: 70vh;
    background: #FFFFFF;
    border: 0 solid #000000;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.signup_form button {
    width: 17.5vw;
    display: block;
    border-radius: 30px;
    padding: 1vw;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5vh auto 0 auto;
    text-align: center;
}

input {
    padding-left: 1.5vw;
    width: 31.4vw;
    height: 5.8vh;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

.signup p {
    padding-top: 4vh;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.login p {
    padding-top: 4vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.news1 p {
    padding-top: 4vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#id_remember {
    width: 2vw;
}

.news2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2vw;
    margin: 1vw auto 0 auto;
    width: 50vw;
    height: 70vh;
    background: #FFFFFF;
    border: 0 solid #000000;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news2 input {
    padding-left: 1.5vw;
    width: 15vw;
    height: 5.8vh;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;

}

.news2 button {
    width: 17.5vw;
    border-radius: 30px;
    padding: 1vw;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5vw;
    text-align: center;
}

.news2 h1 {
    font-weight: 300;
    font-family: Geometria, serif;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: #000000;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 3vw;

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.editprofile__form {
    padding-top: 2vw;
    margin: 1vw auto 0 auto;
    width: 50vw;
    height: 70vh;
    background: #FFFFFF;
    border: 0 solid #000000;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.editprofile__form button {
    width: 17.5vw;
    display: block;
    border-radius: 30px;
    padding: 1vw;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5vh auto 0 auto;
    text-align: center;
}

.editprofile__form input {
    padding-top: 4vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#photo-clear_id {
    height: 1vw;
}

#button {
    width: 17.5vw;
    display: block;
    border-radius: 30px;
    padding: 1vw;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5vh auto 0 auto;
    text-align: center;
}

.mistake {
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one__mistake {
    margin-top: 2vw;
    width: 30%;
    border: 0.10vw solid #dbd7d2;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#p {
    margin-left: 10vw;
    margin-top: 5vw;
}

#size1 {
    font-size: 16px;
    line-height: 20px;
}

#size {
    font-size: 14px;
    line-height: 18px;
}

.one__mistake img {
    position: relative;
    bottom: -10px;
}

.text div {
    padding: 1vw;
}

.text {
    display: flex;
    justify-content: space-between;
}