{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'form.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="content header">
        <div class="header__logo">
            <a href="/"><img src="../../static/images/header_logo.png" alt=""></a>
        </div>
        <div class="p">
            <p>Отдел структурного программирования</p>
        </div>
        <div class="header__sign">
            {% if user.is_authenticated %}
                <a href="{% url 'profiles' %}">Профиль</a>
            {% else %}
                <a href="accounts/signup/">Регистрация</a>
                <a href="/accounts/login/">Вход</a>
            {% endif %}
        </div>
    </div>
</header>
<section>
    {% block content %}
        <div class="content">
            <div class="wrap-content">
                <div class="section__menu">
                    <a class="menu__item" href="admin/">Админка</a>
                    <a class="menu__item" href="{% url 'news' %}">Новости</a>
                    <a class="menu__item" href="{% url 'sendnews' %}">Форма новостей №1</a>
                    <a class="menu__item" href="{% url 'sendnews2' %}">Форма новостей №2</a>
                    <a class="menu__item">Блок перехвата</a>
                </div>
            </div>
        </div>
    {% endblock %}
</section>

<footer>
    <div class="footer__menu">
        <div class="footer__itc">
            <p>@ИТЦ 2019</p>
        </div>
        <div class="footer__social">
            <div class="images">
                <img src="../../static/images/fb_red.png" alt="">
                <img src="../../static/images/vk_red.png" alt="">
            </div>
        </div>
    </div>
</footer>
</body>
</html>
